<div class="accordion-inner component-inner">
    {{#if title}}
    <div class="accordion-title component-title">
        <h4 class="accordion-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="accordion-body component-body">
        <p class="accordion-body-inner">
            {{{body}}}
        </p>
    </div>
    {{/if}}
    <div class="accordion-widget component-widget">
        {{#each items}}
        <div class="accordion-item">
            <a href="#" class="accordion-item-title" title="{{alt}}">
                <div class="accordion-item-title-icon plus"></div>
                <h5 class="accordion-item-title-inner">
                    {{{title}}} 
                </h5>
            </a>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    {{{body}}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
