<div class="inner">
    {{#if title}}
    <div class="accordion-title">
        <h4 class="inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="accordion-body">
        <p class="inner">
            {{{body}}}
        </p>
    </div>
    {{/if}}
    <div class="accordion-widget">
        {{#each items}}
        <div class="accordion-item">
            <a href="#" class="accordion-item-title" title="{{alt}}">
                <div class="icon plus"></div>
                <h5 class="inner">
                    {{{title}}} 
                </h5>
            </a>
            <div class="accordion-item-body clearfix">
                <p class="inner">
                    {{{body}}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
