<div class="accordion-inner component-inner">
    {{> component this}}
    <div class="accordion-widget component-widget">
        {{#each _items}}
        <div class="accordion-item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">
            <button id="{{../_id}}-{{@index}}-accordion-button" class="base accordion-item-title {{#if _isVisited}}visited{{/if}}" aria-expanded="false">
                <div class="accordion-item-title-inner">
                    <div class="accordion-item-title-icon icon icon-plus h5" aria-hidden="true"></div>
                    {{{title}}}
                </div>
            </button>
            <div role="region" class="accordion-item-body" aria-labelledby="{{../_id}}-{{@index}}-accordion-button">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        {{{compile body}}}
                    </div>
                    {{#if _graphic}}
                    {{#if _graphic.src}}
                    <div class="accordion-item-graphic">
                        <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}">
                    </div>
                    {{#if _graphic.attribution}}
                        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
